AmericaVirtual_Web/AmericaVirtual_Web/Connected Services/AmericaeReference/AmericaVirtualService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AmericaVirtualService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:24227/AmericaVirtualService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:24227/AmericaVirtualService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:24227/AmericaVirtualService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AmericaVirtualWS" />
      <xsd:import schemaLocation="http://localhost:24227/AmericaVirtualService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AmericaVirtual_DataModel" />
      <xsd:import schemaLocation="http://localhost:24227/AmericaVirtualService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AmericaVirtual_DataModel.Manager" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAmericaVirtualService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IAmericaVirtualService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAmericaVirtualService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IAmericaVirtualService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IAmericaVirtualService_ValidateLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateLogin" />
  </wsdl:message>
  <wsdl:message name="IAmericaVirtualService_ValidateLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAmericaVirtualService_GetCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="IAmericaVirtualService_GetCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="IAmericaVirtualService_GetProvinces_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinces" />
  </wsdl:message>
  <wsdl:message name="IAmericaVirtualService_GetProvinces_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvincesResponse" />
  </wsdl:message>
  <wsdl:message name="IAmericaVirtualService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IAmericaVirtualService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IAmericaVirtualService_AddModCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:AddModCountry" />
  </wsdl:message>
  <wsdl:message name="IAmericaVirtualService_AddModCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddModCountryResponse" />
  </wsdl:message>
  <wsdl:message name="IAmericaVirtualService_AddModProvince_InputMessage">
    <wsdl:part name="parameters" element="tns:AddModProvince" />
  </wsdl:message>
  <wsdl:message name="IAmericaVirtualService_AddModProvince_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddModProvinceResponse" />
  </wsdl:message>
  <wsdl:message name="IAmericaVirtualService_AddModUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddModUser" />
  </wsdl:message>
  <wsdl:message name="IAmericaVirtualService_AddModUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddModUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IAmericaVirtualService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmericaVirtualService/GetData" message="tns:IAmericaVirtualService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmericaVirtualService/GetDataResponse" message="tns:IAmericaVirtualService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmericaVirtualService/GetDataUsingDataContract" message="tns:IAmericaVirtualService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmericaVirtualService/GetDataUsingDataContractResponse" message="tns:IAmericaVirtualService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmericaVirtualService/ValidateLogin" message="tns:IAmericaVirtualService_ValidateLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmericaVirtualService/ValidateLoginResponse" message="tns:IAmericaVirtualService_ValidateLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmericaVirtualService/GetCountries" message="tns:IAmericaVirtualService_GetCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmericaVirtualService/GetCountriesResponse" message="tns:IAmericaVirtualService_GetCountries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmericaVirtualService/GetProvinces" message="tns:IAmericaVirtualService_GetProvinces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmericaVirtualService/GetProvincesResponse" message="tns:IAmericaVirtualService_GetProvinces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmericaVirtualService/GetUsers" message="tns:IAmericaVirtualService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmericaVirtualService/GetUsersResponse" message="tns:IAmericaVirtualService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddModCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmericaVirtualService/AddModCountry" message="tns:IAmericaVirtualService_AddModCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmericaVirtualService/AddModCountryResponse" message="tns:IAmericaVirtualService_AddModCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddModProvince">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmericaVirtualService/AddModProvince" message="tns:IAmericaVirtualService_AddModProvince_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmericaVirtualService/AddModProvinceResponse" message="tns:IAmericaVirtualService_AddModProvince_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddModUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmericaVirtualService/AddModUser" message="tns:IAmericaVirtualService_AddModUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmericaVirtualService/AddModUserResponse" message="tns:IAmericaVirtualService_AddModUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAmericaVirtualService" type="tns:IAmericaVirtualService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IAmericaVirtualService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IAmericaVirtualService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <soap:operation soapAction="http://tempuri.org/IAmericaVirtualService/ValidateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://tempuri.org/IAmericaVirtualService/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <soap:operation soapAction="http://tempuri.org/IAmericaVirtualService/GetProvinces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IAmericaVirtualService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddModCountry">
      <soap:operation soapAction="http://tempuri.org/IAmericaVirtualService/AddModCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddModProvince">
      <soap:operation soapAction="http://tempuri.org/IAmericaVirtualService/AddModProvince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddModUser">
      <soap:operation soapAction="http://tempuri.org/IAmericaVirtualService/AddModUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmericaVirtualService">
    <wsdl:port name="BasicHttpBinding_IAmericaVirtualService" binding="tns:BasicHttpBinding_IAmericaVirtualService">
      <soap:address location="http://localhost:24227/AmericaVirtualService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>