AmericaVirtual_Web/AmericaVirtual_Web/Connected Services/AmericaeReference/AmericaVirtualService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AmericaVirtual_DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AmericaVirtual_DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:24227/AmericaVirtualService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AmericaVirtual_DataModel.Manager" />
  <xs:complexType name="Countries">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date_Add" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Countries" nillable="true" type="tns:Countries" />
  <xs:complexType name="Provinces">
    <xs:sequence>
      <xs:element minOccurs="0" name="Countries" nillable="true" type="tns:Countries" />
      <xs:element minOccurs="0" name="Date_Add" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Country" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Provinces" nillable="true" type="tns:Provinces" />
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date_Add" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AmericaVirtual_DataModel.Manager" minOccurs="0" name="UserType" type="q1:EnumTypeUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
  <xs:complexType name="Weather">
    <xs:sequence>
      <xs:element minOccurs="0" name="Countries" nillable="true" type="tns:Countries" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date_Add" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Humidity" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Country" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Province" type="xs:int" />
      <xs:element minOccurs="0" name="Provinces" nillable="true" type="tns:Provinces" />
      <xs:element minOccurs="0" name="Rainfall" type="xs:int" />
      <xs:element minOccurs="0" name="Sensation_C" type="xs:decimal" />
      <xs:element minOccurs="0" name="Sensation_F" type="xs:decimal" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AmericaVirtual_DataModel.Manager" minOccurs="0" name="TypeWeather" type="q2:EnumTypeWeather" />
      <xs:element minOccurs="0" name="Wind" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Weather" nillable="true" type="tns:Weather" />
</xs:schema>